@import "layout/normalize.scss";
@import "layout/setting.scss";

.head {
	background: url(../img/main.jpg) no-repeat 50% 50%;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	width: 100vw;
	color: #fff;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.title {
	width: 500px;
	text-align: center;
}
.head__title {
	position: relative;
	font-size: 48px;
	padding-bottom: 28px;
}
.head__title::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	opacity: 0.6;
}
.main-arrow {
	height: 3rem;
	width: 3rem;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: translateX(-50%) translateY(-50%)rotate(45deg);
	position: absolute;
	left: 50%;
	bottom: 10%;
	cursor: pointer;
}
.portfolio {
	width: 100vw;
	height: 100vh;
	background: #fff;
	color: #555555;
}
.portfolio__title {
	display: flex;
	justify-content: center;
	font-size: 36px;
	font-weight: bold;
	color: #333;
	text-transform: uppercase;
	padding: 110px 0 140px 0;
}
.portfolio-item {
	// position: relative;
	// width: 364px;
	// height: 348px;
	// overflow: hidden;
	// text-align: center;

	width: 364px;
    height: 348px;
    overflow: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: flex-end;
}
.portfolio-item:hover .portfolio-pic {
    transform: scale(1.5);
    opacity: 1;
    -webkit-transition: opacity 0.3s ease, -webkit-transform 5s ease;
    transition: opacity 0.3s ease, -webkit-transform 5s ease;
    -o-transition: opacity 0.3s ease, transform 5s ease;
    transition: opacity 0.3s ease, transform 5s ease;
    transition: opacity 0.3s ease, transform 5s ease, -webkit-transform 5s ease;
}

.portfolio__work {
	display: flex;
	justify-content: space-around;
}
// .portfolio-box {
// 	overflow: hidden;
// 	height: 348px;
// }
.portfolio-desc {
	position: absolute;
	font-size: 24px;
	color: #555;
	    margin-left: 182px;
}
// .portfolio-item:hover .portfolio-desc {
// 	color: #087125;
// 	font-size: 18px;
// }

.portfolio-pic {
	width: 364px;
  	height: 348px;
	margin-bottom: 30px;
	box-shadow: 0px 4px 29px 0px rgba(87, 92, 97, 0.54);
}
.portfolio-pic img {
	width: 100%;
	max-width: 364px;
}
//FOOTER
.footer {
	width: 100vw;
	min-height: 240px;
	background: #646464;
	color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.social__list {
	font-size: 0;
}
.social__item {
	display: inline-block;
	margin-right: 5px;
}
.social__litem:nth-last-child {
	margin-right: 0;
}
.social__link {
    display: flex;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.social__icon {
	width: 15px;
	height: 15px;
	fill: #fff;
}
.social__link:hover {
	border-color: #9a0808;
	transition: all 1s;
}
.social__link:hover .social__icon {
	fill: #9a0808;
	transition: all 1s;
}

.btn {
	color: #fff;
	border: 1px solid #fff;
	border-radius: 20px;
	background: #646464;
	padding: 7px 23px;
}
.btn-box:hover .btn {
	border-color: #9a0808;
	transition: all 1s;
	color: #9a0808;
}

// .Прямоугольник__скругл__углы_1 {
//   border-width: 1px;
//   border-color: rgb(255, 255, 255);
//   border-style: solid;
//   position: absolute;
//   left: 1278px;
//   top: 2211px;
//   width: 239px;
//   height: 51px;
//   z-index: 29;
// }
